# binaries
Ch01/echo/echo
Ch01/helloworld/helloworld
Ch02/boiling/boiling
Ch02/ftoc/ftoc
Ch02/tempconv/tempconv
Ch03/rune/rune
Ch03/surface/surface
Ch04/mapseen/mapseen
Ch04/point/point
Ch08/clock/clock
Ch08/netcat/*/netcat
Ch08/pipeline/*/pipeline
Ch08/reverb/reverb
